<h1>
  Students List {{students.length}}
</h1>
<div *ngIf="students.length >= 4">
  <h2>Lista</h2>
  <h3>{{zbir}}</h3>
  <!--<button type="button" (click)="toggleView()">Calc</button>-->
  <!--<button type="button" (click)="toggleView()">Public</button>-->
  <button type="button" (click)="toggleView(false)">
    {{filterShow ? '' : 'Not'  }} Public
  </button>
  <table>
    <tr *ngFor="let student of students">
      <td *ngIf="student.public == filterShow">{{student.name}}</td>
      <td *ngIf="student.public == filterShow">{{student.email}}</td>
    </tr>
  </table>
  <!--<pre>{{students|json}}</pre>-->
</div>